{{ form_start(form) }}

<div class="mb-3 form-group">
    {{ form_label(form.name, 'Nom') }}
    {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
</div>
<div class="mb-3 form-group">
    {{ form_label(form.createdAt, 'Crée le') }}
    {{ form_widget(form.createdAt) }}
</div>
<div class="mb-3 form-group">
    {{ form_label(form.amount, 'Montant') }}
    {{ form_widget(form.amount, {'attr':{'class':'form-control'}}) }}
</div>
<div class="mb-3 form-group">
    {{ form_label(form.userPaid, 'Qui a payé ?') }}
    {{ form_widget(form.userPaid, {'attr':{'class':'form-control'}}) }}
</div>
<div class="mb-3 form-group">
    {{ form_label(form.userRefund, 'Participants :') }}
    {{ form_widget(form.userRefund) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
