{% extends 'base.html.twig' %}

{% block title %}Tricount{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Détails du tricount "{{ tricount.name }}"</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ tricount.name }}</td>
                </tr>
                <tr>
                    <th>Devise</th>
                    <td>{{ tricount.device }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ tricount.content }}</td>
                </tr>
                <tr>
                    <th>Participants</th>
                    {% for tri in tricount %}
                        {% for user in tricount.userRefund.values %}
                            <p>{{ user.name }}</p>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="d-flex">
            <a class="btn btn-primary me-2" href="{{ path('tricount_index') }}">Retour</a>
            <a class="btn btn-primary me-2" href="{{ path('tricount_edit', {'id': tricount.id}) }}">Modifier</a>
            {{ include('tricount/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
