{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-3">
            <h1>Tricount</h1>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <h1>Identifiez-vous</h1>
                <table class="table mt-3">
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('tricount_index', {'id_user': user.id}) }}"
                                   style="text-decoration: none; color: black">{{ user.name }}</a>
                            </td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-6 mt-3">
                <h1>Inscrivez-vous</h1>
                {{ include('user/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
